ul {
  list-style: none;
}

wrapper{
  position: relative;
  width: 100%;
}


/* SPAN CLASSES */
.score {
  position: absolute;
  left: 530px;
}
.url {
  position: absolute;
  left: 680px;
  width: 500px;
}
